<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testdemo1.Annotations"/>
      <class name="testdemo1.Launch"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
